body{
    background-color:aquamarine;
}
#titulo{
    margin-bottom: 10px;
    text-align: center;
}
#div-lista{
    Text-align: center; 
    height: 800px; 
    float: none;
}
.img{
    margin-top: 5px;
    box-shadow: 0 5px 5px 3px rgb(29, 25, 25);
    width: 75px;
    height: 75px;
}

.lista{
    margin-top: 30px;
}

#img-principal{
    border-radius: 25px;
    width: auto;
    height: 700px;
}



